*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #f6f6f6;
}

.App {
  text-align: center;
  /*font-family: 'Mouse Memoirs', sans-serif;*/
  /*font-family: 'Lobster', cursive;*/
  /*font-family: 'Roboto', sans-serif;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.landing {
  background-image: url('./teacups.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 70vh; 
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px black;
}
